.display {
    background-color: rgb(153, 108, 108);
    padding: 15px;
    width: 250px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
button {
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: rgb(136, 95, 95);
    color: black;
    font-size: 20px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(196, 55, 55);
}
button:active {
    background-color: rgb(204, 9, 9);
}